.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: flex;
  padding-bottom: 80px;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 991px) {
  .container {
    flex-wrap: wrap;
  }
}
.header {
  position: fixed;
  margin-bottom: 20px;
  background-color: #4176a6;
  display: flex;
  width: 100%;
  align-items: start;
  gap: 20px;
  padding: 6px 80px 12px 32px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.banner {
  aspect-ratio: 2.78;
  object-fit: auto;
  object-position: center;
  margin-left: 40px;
  width: 271px;
  max-width: 100%;
}

.styled-text {
  font-size: 24px;
  color: white;
  margin-left: auto;
  display: inline-block;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
}

.styled-text:hover {
  color: blue;
}

.styled-text:visited {
  color: purple;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.sidebar-container {
  position: relative;
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
  color: white;
}
.sidebar a {
  margin-top: 20px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidebar a:first-child {
  margin-top: 30px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.hamburger {
  font-size: 50px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 2;
}
.sidebar-container:hover .sidebar {
  width: 250px;
}

.raccoon-profile {
  display: flex;
  max-width: 990px;
  flex-direction: column;
}

.profile-header {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .profile-header {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.profile-image-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-image {
  border-radius: 50%;
  background-color: #f7f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-right: 10px;
  margin-top: 200px;
  width: 160px;
  height: 160px;
  padding: 0 24px;
}

@media (max-width: 991px) {
  .profile-image {
    padding: 0 20px;
  }
}

.profile-image img {
  aspect-ratio: 1.06;
  object-fit: auto;
  object-position: center;
  margin-top: 35px;
  width: 112px;
  fill: #000;
}

.profile-name {
  color: #000;
  align-self: center;
  margin-top: 30px;
  margin-left: 285px;
  font: 400 36px Inter, sans-serif;
}

.profile-details {
  align-self: start;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .profile-details {
    max-width: 100%;
    white-space: initial;
  }
}

.profile-details-title {
  font-size: 30px;
  margin-top: 200px;
  font: 24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .profile-details-title {
    max-width: 100%;
  }
}

.profile-details-content {
  border-radius: 10px;
  background-color: #eceff4;
  margin-top: 5px;
  width: 500px;
  height: 160px;
}

.profile-details-text {
  font-size: 20px;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .profile-details-content {
    max-width: 100%;
  }
}

.profile-rating {
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(231, 240, 253, 1);
  background-color: #aabff6;
  height: 160px;
  cursor: pointer;
  align-self: end;
  margin-bottom: 45px;
  margin-left: 20px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
}

.profile-rating:hover {
  background-color: #889ecf; /* Darker shade on hover */
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
  }
}

.profile-content {
  display: flex;
  margin-top: 59px;
  width: 100%;
  flex-direction: column;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  padding: 0 25px;
}

@media (max-width: 991px) {
  .profile-content {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.profile-content-title {
  font-size: 30px;
  font-family: Inter, sans-serif;
}

@media (max-width: 991px) {
  .profile-content-title {
    max-width: 100%;
  }
}
.skills-section {
  display: flex;
  max-width: 937px;
  flex-direction: column;
  color: #000;
  font-weight: 400;
  padding: 0 20px;
}

.skills-heading {
  width: 100%;
  font: 24px Inter, sans-serif;
  margin-left: 300px;
}

@media (max-width: 991px) {
  .skills-heading {
    max-width: 100%;
  }
}

.skills-content {
  border-radius: 10px;
  background-color: #eceff4;
  display: flex;
  margin-top: 28px;
  margin-left: 300px;
  width: 80%;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  padding: 42px 80px 42px 33px;
}

@media (max-width: 991px) {
  .skills-content {
    max-width: 100%;
    padding: 0 20px;
  }
}

.skills-list {
  font-family: Inter, sans-serif;
}

.specialties-list {
  font-family: Inter, sans-serif;
  margin-top: 21px;
}

.group-experiences {
  display: flex;
  max-width: 937px;
  flex-direction: column;
  color: #000;
  font-weight: 400;
  padding: 0 20px;
}

.group-experiences-title {
  width: 100%;
  font: 24px Inter, sans-serif;
  margin-left: 300px;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .group-experiences-title {
    max-width: 100%;
  }
}

.group-experiences-content {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  margin-top: 32px;
  width: 100%;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 29px 8px;
  margin-left: 270px;
}

@media (max-width: 991px) {
  .group-experiences-content {
    max-width: 100%;
    padding: 0 20px;
  }
}

.group-experiences-header {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 825px;
  gap: 20px;
}

@media (max-width: 991px) {
  .group-experiences-header {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.course-name {
  font-family: Inter, sans-serif;
  text-align: left;
}

.group-score {
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-contribution {
  font-family: Inter, sans-serif;
  margin-right: 100px;
  text-align: left;
  padding: 0 10px;
}

.project-name {
  flex-grow: 1;
  flex-basis: auto;
  margin-left: 160px;
  text-align: left;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.29);
  background-color: rgba(0, 0, 0, 0.29);
  margin-top: 18px;
  height: 1px;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}

.group-experiences-list {
  display: flex;
  margin-top: 19px;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .group-experiences-list {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.course-project-info {
  align-self: start;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 991px) {
  .course-project-info {
    max-width: 100%;
  }
}

.course-project-wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .course-project-wrapper {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.course-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  flex: 1;
}

@media (max-width: 991px) {
  .project-info {
    white-space: initial;
  }
}

.course-project {
  display: flex;
  margin-top: 33px;
  gap: 19px;
}

@media (max-width: 991px) {
  .course-project {
    flex-wrap: wrap;
  }
}

.course {
  font-family: Inter, sans-serif;
  flex-grow: 1;
  margin-top: 20px;
}

.project {
  font-family: Inter, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin-left: 100px;
  margin-top: 20px;
}

.contribution-list {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.contribution {
  font-family: Inter, sans-serif;
  margin-top: 10px;
}

.contribution-2 {
  font-family: Inter, sans-serif;
  margin-top: 20px;
}

.contribution-3 {
  font-family: Inter, sans-serif;
  margin-top: 20px;
}

.score-list {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: flex-start;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .score-list {
    white-space: initial;
  }
}

.score-item {
  display: flex;
  gap: 9px;
  margin-right: 60px;
}

@media (max-width: 991px) {
  .score-item {
    white-space: initial;
  }
}

.star-icon {
  aspect-ratio: 0.94;
  object-fit: auto;
  object-position: center;
  width: 34px;
  fill: #fff068;
}

.score {
  font-family: Inter, sans-serif;
  align-self: start;
  margin-top: 16px;
}

.score-item-2 {
  display: flex;
  margin-top: 19px;
  gap: 9px;
}

@media (max-width: 991px) {
  .score-item-2 {
    white-space: initial;
  }
}

.score-2 {
  font-family: Inter, sans-serif;
  align-self: start;
  margin-top: 16px;
}

.score-item-3 {
  display: flex;
  margin-top: 16px;
  gap: 9px;
}

@media (max-width: 991px) {
  .score-item-3 {
    white-space: initial;
  }
}

.score-3 {
  font-family: Inter, sans-serif;
  align-self: start;
  margin-top: 16px;
}
