.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: flex;
  padding-bottom: 80px;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 991px) {
  .container {
    flex-wrap: wrap;
  }
}
.header {
  position: fixed;
  margin-bottom: 20px;
  background-color: #4176a6;
  display: flex;
  width: 100%;
  align-items: start;
  gap: 20px;
  padding: 6px 80px 12px 32px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.banner {
  aspect-ratio: 2.78;
  object-fit: auto;
  object-position: center;
  margin-left: 40px;
  width: 271px;
  max-width: 100%;
}

.styled-text {
  font-size: 24px;
  color: white;
  margin-left: auto;
  display: inline-block;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
}

.styled-text:hover {
  color: blue;
}

.styled-text:visited {
  color: purple;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.sidebar-container {
  position: relative;
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
  color: white;
}
.sidebar a {
  margin-top: 20px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidebar a:first-child {
  margin-top: 30px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.hamburger {
  font-size: 50px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 2;
}
.sidebar-container:hover .sidebar {
  width: 250px;
}
